
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title>Image Generator</title>
</head>
<body>

    <div class="container mt-5 mb-5">
        <form class="form" id="form-value" autocomplete="off">
            <input class="form-control" id="input-query" type="text" ><br/>
            <button class="btn btn-primary" type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Submit</button>
        </form>
    </div>

    
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
                <div class="modal-body">
                    <!-- <div class="container"> 
                        <img id="image-generator" width="100%" />
                    </div> -->

                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div id="container" class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="../static/image/chicken-chicken-bro.gif" class="d-block w-100" alt="...">
                              </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        
    

        document.getElementById("form-value").addEventListener("submit" , (e) => {
            e.preventDefault();
            
        
            const it = document.getElementById("input-query").value;
            console.log("values :: ",it);
            
            posibilities = combinations(it);
            console.log("posibilities :: ",posibilities);

            for(let i=0;i<posibilities.length;i++){
                // create the div with class carousel-item

                let div = document.createElement("div");
                div.classList.add("carousel-item");

                // create the img with class d-block w-100
                
                const image_src = 'https://source.unsplash.com/weekly?' + posibilities[i] + '/';
                let img = document.createElement("img");
                img.classList.add("d-block");
                img.classList.add("w-100");
                img.width = 600;
                img.height = 800;
                img.src = image_src;
                
                // adding the image into the div

                div.appendChild(img);

                document.getElementById("container").appendChild(div);
            }

            

            // const image_src = 'https://source.unsplash.com/weekly?' + it + '/';
            // const image  = document.getElementById("image-generator");
            // image.src = image_src;

            
        });

        let combinations = (text) => {

            let characters = [',','.','/',';',':','"',"'"];
            let posibilities = []

            let string = "";

            for(let i=0;i<characters.length;i++){
                string += characters[i];
                string += text;
                for(let j=i;j<characters.length;j++){
                    string += characters[j];
                    posibilities.push(string);
                }
                string = "";
            }

            return posibilities;

        };
        
        


    </script>

</body>
</html>
